//----------------------------------------------------//
// VARIABLES                                          //
//----------------------------------------------------//

$mainFont: 'Open Sans', sans-serif; 
$mainFontSize: 18px;
$mainLineHeight: 22px;
$mainFontWeight: 300;
$mainFontColor: #fff;

$gray: #262626;
$blue: #0eacdf;